NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/short_link_bio_hub
CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
